@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    box-sizing: border-box;
}

/*----color---*/

:root{
    --white:#fff;
    --dark-blue:#0f193E;
    --gold:#968e2c;


    /*--hue colors--*/
    --green:86;
    --blue:208;
    --light-blue:182;
    --red:1;
    --yellow:55;
    --lime-blue:164;
    --purple:282;


}
.card-yellow{
    --hue:var(--yellow);
}
.card-green{
    --hue:var(--green);
}
.card-blue{
    --hue:var(--blue);
}
.card-red{
    --hue:var(--red);
}
.card-lime-blue{
    --hue:var(--lime-blue);
}
.card-purple{
    --hue:var(--purple);
}
.card-light-blue{
    --hue:var(--light-blue);
}

body {
    margin: 0; padding: 0;
    width: 100%; height: 100vh;
    overflow-x: hidden;
    background-color: var(--white);
    
   /*find font faimly */
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
}.home-content h1{
    color:var(--dark-blue);
    font-size: 5rem;
}
.home-content p{
    font-family: "Playfair Display", serif;
    color: var(--dark-blue);
    font-size: 2rem;
}
.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px;
    cursor: pointer;
    transition: 0.2s linear;
}
.store-buttons a{
    display:inline-block;
    background-color:var(--dark-blue);
    border-radius: 4rem;
    place-items: center;
    font-size: 1.2rem;
    color:var(--white);
    transition:.3s ease;
    padding: 1rem 2.3rem;  
    text-decoration: none;
}
.store-buttons a:hover{
    background-color: var(--gold);
    color:var(--white);  
}
.app-buttons a{
    display:inline-block;
    background-color:var(--dark-blue);
    border-radius: 4rem;
    place-items: center;
    font-size: 1.2rem;
    color:var(--white);
    transition:.3s ease;
    padding: 1rem 2.3rem;  
    text-decoration: none;
    display: none;
}
/* about section */
.about-container{
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.about-content{
    flex: 1;
    margin-right: 20px;
   

}
.video{
    flex: 1;
}
.video iframe{
    width: 100%;
    height: 315px;
}
.about-content h2{
    color: var(--white);
}
.about-content p{
    font-size: 1.7rem;
    color: var(--white);

}
.about{
    background-color: #0f193E;

}

/*feature content*/
.feature-container{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}
.feature-content{
    width: 270px;
    margin: 50px;
}
.feature-content h1 {
    font-size: 3rem;
    color:var(--gold);
    font-weight:bold;
    text-align: center;
 
   
}
.feature-content p{
   font-size: 1.3rem;
  color:var(--dark-blue);
  font-weight:bold;
}


/* navgation bar */
.navbar{
    font-family: "Playfair Display", serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position:sticky;
    top:0;
    background:#f8f8f8;
    z-index: 999;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    padding: 0 2rem;
    max-width: 1600px;
}
.navbar-logo{
    font-size: 2rem;
    font-weight: bold;
    color: var(--dark-blue);
    text-decoration: none;
    cursor: pointer;
}
.navbar-container .navbar-menu{
    display: flex;
    text-align: center;
    gap: 1.5rem;
    list-style: none;
}
.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: var(--dark-blue);
    font-size: 1.3rem;
    padding: 3px 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
} 
.navbar-toggle{
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.bar{
    display:block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: #1c4094;
    transition: all 0.3s ease-in-out;


}
.navbar-menu li a:hover {
    color:var(--dark-blue);
    border-bottom: 3px solid var(--dark-blue);

}

/*-----card-----*/
.card{
    position:relative;
    padding-block: 5rem;
}
.card_container{
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 2rem;
}
.card_img{
    width: 260px;
    height: 375px;
    border-radius: 2rem;
    transition: transform .4s;
}
.card h1{
    
    font-size: 3rem;
    color:var(--dark-blue);
    text-align: center;
    padding: 4px;

   
}
.card_article{
    position: relative;
    border-radius: 2rem;
    overflow: hidden;
}
.card_shadow{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background:linear-gradient(180deg, 
                      hsla(0, 0%, 0%, 0) 70%, 
                     hsl(0, 0%, 0%) 100%); ;
}
.card_data{
    font-family: "Playfair Display", serif;
    color:var(--white);
    position: absolute;
    left: 1.5rem;
    bottom: 2rem;
}
.card_name{
    font-size: 2rem;
    margin-bottom: .25rem;
}
.card_profession{
    display: block;
    font-size: 1rem;
}
.card_clip{
    position: absolute;
    top:1rem;
    right:1rem;
    background-color: hsl(var(--hue),90%,50%);
    box-shadow: 0 0 16px 4px hsl(var(--hue),90%,50%);
    width:2rem;
    height: 2rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 1.5rem;
    color: var(--white);
    z-index: 5;
    cursor: pointer;
    transition: transform .4s;
}
.card_article:hover .card_img{
    transform: scale(1.1);
}
/*-----card info---*/
.info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: hsla(0, 0%, 0%, .1);
    backdrop-filter: blur(12px);
    padding: 3rem 1.5rem 1.5rem;
    color: var(--white);
   clip-path: circle(8px at 88% 9%);
    transition: clip-path .5s ease-in-out;
    font-family: 'Times New Roman', Times, serif;

}
.info_name{
    text-align: center;
    font-size: 2rem;
    margin-bottom: .5rem;
}
.info_description{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.info_social{
    position: absolute;
    left: 1.5rem;
    display: flex;
    column-gap: .5rem;
    bottom: 1.5rem;
}.info_name{
    color: var(--white);
}
.info_description{
    color: var(--white);
}


/*--rotation icon--*/
.card_article:hover .card_clip{
    transform: rotate(-45deg);
}
/*---clip path animation--*/
.info:hover,
.card_clip:hover ~ .info{
    clip-path:circle(100%);
}
/*-----footer---*/

.footer{
   display: flex;
   justify-content: space-between;
   padding: 16px 0;
   align-items: center;
   background-color:#1c4094;
}
.footer ul {
   display: flex;
   list-style: none;
   gap: 10px;
  

}
.footer a {
   color: var(--white);
   font-size: 1rem;
   text-decoration: none;
}.footer .social-links a{
    background-color:var(--gold);
    border-radius: 50%;
    place-items: center;
    font-size: 1.2rem;
    color:var(--white);
    transition: transform .4s;
    padding: 10px;  
    width: 40px;

}
.footer p{
    font-family: "Playfair Display", serif;
   color: var(--white);
   padding: 10px;
}.footer .footerlink  a {
    font-family: "Playfair Display", serif;
    font-size: 1rem;
    padding: 10px;
    width: 40px;

}
.social-links a:hover{
    background-color: #fff;
    transition: 0.5s;
}
.social-links a:hover i{
    color:var(--dark-blue);
    transition: 0.5s;
}
/*----Contact form----*/

.form-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-image: url(background.png);
    background-position: center;
    background-size: cover;
}
.form-box{
    position: relative;
    width: 400px;
    height: 600px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Playfair Display", serif;
}
.form-box h2{
    font-size: 3rem;
    color: var(--white);
    text-align: center;
    margin-bottom: 16px;
}
form{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap:16px;
}
.form-group label{
        display: block;
        margin-bottom: 5px;
        color: var(--white);
}
.form-element{
        appearance: none;
        outline: none;
        border: none;
        display: block;
        width: 100%;
        border-radius: 8px;
        padding: 12px 16px;
        background-color: #F3fefe;
}
textarea{
        resize: none;
        min-height: 100px;
}

.submit-button{
    text-align: right;

}.submit-button input[type="submit"]{
        appearance: none;
        outline: none;
        border: none;
        background: none;
        padding: 12px 16px;
        background-color: var(--dark-blue);
        border-radius: 8px;
        color:var(--white);
        cursor: pointer;
        transition: 0.4s;

}.submit-button input[type="submit"]:hover{
            background-color:var(--gold);
 }
/*---slide container--*/
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
   

  }
  
  /* Hide the images by default */
  .mySlides1, .mySlides2, .mySlides3 {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--white);
    font-weight:bold;
    font-size: 25px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    font-family: 'Times New Roman', Times, serif;
    color:var(--white);
    font-size: 1.7rem;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
   

  
}
  /*---Table---*/
.table-content h1,p{ 
    color:var(--dark-blue);  
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight:650;
    font-family: "Playfair Display", serif;

}
.table-content p{
    font-size: 1.2rem;
}

.table-wrapper{
    border-radius: 8px;
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
}

.info-table {
    font-family: 'Times New Roman', Times, serif;
    border-radius:8px;
    font-size: 1rem;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    background-color: white;

}
.info-table td, .info-table th {
    text-align: center;
    padding: 8px;
   
}
.info-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 16px;
}
.info-table thead th {

    color: var(--white);
    background: #5badb0;
}
.info-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}


/*----medium device--*/
@media screen and (max-width: 1024px) {
    .card_container {
        grid-template-columns:repeat(2,260px);
    }
    .store-buttons a{
        display: none;
    
    }
    .app-buttons a{
        border-radius: 2rem;
        place-items: center;
        font-size: 1.2rem;
        transition:.3s ease;
        padding: 1rem;
        display: inline;
    }
    



    

}
/*----small device--*/
@media screen and (max-width: 500px) {
    .container{
        margin-inline:1rem;
    }
    .card_container{
        grid-template-columns: 1fr;
    }
    .info{
        padding: 1.5rem 1rem;
    }
    .footer{
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
    }
    .form-box{
        padding: 32px;
    }
    .card_img{
        width: 400px;
        height: 415px;
        border-radius: 2rem;
        transition: transform .4s;
    }
    .prev, .next,.text {
        font-size: 11px;
    }
    .navbar-container{
        padding: 0 1rem;
    }
    .navbar-logo{
        font-size: 1rem;
    }
    .navbar-container .navbar-menu li a{
        font-size: 1.5rem;
        padding: 3px 15px;
    }
    .navbar-container .navbar-menu{
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap:1.7rem;
        position: absolute;
        height: 100vh;
        width: 250px;
        top:0;
        right: 0;
        padding: 5rem 1.5rem;
        backdrop-filter: blur(10px);

    }.navbar-toggle{
        display: block;
        z-index: 999;
    }
    .navbar-container .navbar-menu.active{
        display: flex;
    }
    .navbar-toggle.active .bar:nth-child(2){
        opacity: 0;
    }
     .navbar-toggle.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
      .navbar-toggle.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .home-container{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home-content h1{
        font-size:3rem;
    
    }
    .store-buttons a{
        display: none;
    
    }
    .app-buttons a{
    
        border-radius: 2rem;
        place-items: center;
        font-size: 1.1rem;
        transition:.3s ease;
        padding: 10px;
        display: flex;
        justify-content: center;
        line-height: 2.5rem;
        margin: 10px;
    }
    .home-img img{
        width: 70vw;
        margin-top: 4rem;
    }
    .app-buttons{
        gap:20px;
    }
    .about-container{
        flex-direction: column;
    }
    .about-content, .video{
        flex: 0 0 100%;
    }
    .footer {
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
    }

    


   


    
   
}